#network:
#  version: 2
#  ethernets:
#    ens8:
#      match:
#        macaddress: "{{ ansible_facts['ens8']['macaddress'] }}"
#      set-name: ens8
#      mtu: 1500
#    ens9:
#      match:
#        macaddress: "{{ ansible_facts['ens9']['macaddress'] }}"
#      set-name: ens9
#      mtu: 1500
network:
  version: 2
  ethernets:
    {% for interface, values in interfaces_dict.items() %}
    {{ interface }}:
      match:
        macaddress: "{{ values.macaddress }}"
      set-name: {{ interface }}
      mtu: 1500
    {% endfor %}

