network:
  version: 2
  ethernets:
    eno3:
      match:
        macaddress: 20:67:7c:08:66:71
      set-name: eno3
      mtu: 1500
    eno4:
      match:
        macaddress: 20:67:7c:08:66:79
      set-name: eno4
      mtu: 1500